.divCard {
    display:flex;
    width:600px;
    height:300px;
    overflow:auto;
    color:rgb(1, 0, 11);
    border-radius: 20px;
    transition: .2s ease-in-out;
    margin-top: 15px;
    box-shadow: 1px 1px 10px rgb(245, 148, 240);
    background-color: rgba(241, 251, 232, 0.71);
    font-size:20px;
    text-align: center;
}
.divCard:hover{
    opacity: 0.8;
    transform: scale(1.1, 1.1);
    background-color: rgb(93, 158, 223);
}
.nameCard{
    width: 300px;
    cursor: pointer;
    margin-left: 5px;
}
.imageDog{
    border-radius: 20px;
    width: 320px;
}
.name{
    margin-left: 25px;
    margin-right: 50px;
    font-size: 20px;
    text-align: left;
    /* text-shadow: 1px 1px 10px rgb(241, 179, 10);  */
}