.listado{
    display: flex;
    justify-content: space-around;
    background:linear-gradient(to right,rgba(173, 216, 230, 0.744),rgba(255, 255, 255, 0.784),rgba(173, 216, 230, 0.824))
}
.content-select select{
    cursor: pointer;
      padding: 7px 0px;
      height: 42px;
    font-size: 1em;
    color: rgb(94, 94, 94);
    border:2px solid rgba(0,0,0,0.2);
      border-radius: 8px;
      transition: all 0.25s ease;
  }
  .content-select select:hover{
    background: #ffe8d6;
    color: rgb(71, 71, 71);
    border-color: rgb(71, 71, 71);
    transform: translateY(1px);
  }
  .content-select select option:hover{
    background-color: #ffe8d6;
    transform: translateY(1px);
  }
  .nameF{
    font-style: italic;
    margin-left: 25px;
    margin-right: 50px;
    text-align: left;
    font-weight:bolder;
    font-size:30px;
    border-top: 3px  solid blueviolet;
    border-bottom: 3px solid blueviolet;
  }